.custom_product_form {
    padding: 15px;
    background-color: #e5eff0;
}
.custom_product_form label {
    margin-bottom: .5em;
    font-weight: 700;
    width: 100%;
    clear: both;
    display: block;
}
.custom_product_form .form-group {
    margin-bottom: 1em;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}